<div class="wrapper">
    <div class="brand">
        Thekedari -APP
    </div>
    <div class="userinfo">
       <app-userinfo></app-userinfo><br>
       <button class="btn btn-danger" (click)="logout()">Logout</button>
      
     </div>
    <div class="logoutbtn">
              
    </div>
    
</div>
<!--

<div class="wrapper">
        
        </div>
    <div class="userinfo">
        <div class="userinfo">
            <app-userinfo></app-userinfo>
        </div>
        <button class="btn btn-danger" (click)="logout()">Logout</button>
    
        <button class="btn btn-success" routerLink="/login">Login</button>

    </div>








-->


