.headerwraper{
   padding: 1px; 
   height: 100%;
   width: 100%;
}
.brand{
    font-size: 20px;
    padding: 5px;;
}
.actionbuttons{
  
   text-align: center;

}
.btn{
    margin:5px;
    float: inline-end;
}