.sidenavbarwraper{
    background-color:darkblue;
    height:100%;
    color:white;
    padding:5px;
   
}

ul{
    list-style: none;
    margin: 0;
}
a{
    display: list-item;
    text-decoration: none;
    font-size: 20px;
    color:red;
    padding-top: 10px;
    padding-left: 10px;
    border: 1px solid white;
}

a:hover{
    background-color: darkblue;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
.userinfo{
    min-height: 160px;

}
.userpic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
    padding-top: 10px;
    text-align: center;
    
}
.userinfo{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  
}
.menutext{
    color:white;
    font-size: 20px;
    padding: 5px;
}
.menuicon{
    color:white;
    font-size: 20px;
    margin: 2px;
    text-align: left;
    height: 30px;
    width: 30px;
}
