
*{
    --darkcolor:darkblue;
    --white: #faf0e6;
  }
  
/*  Clear All Default Margin And Pading for All Page*/
.container{
    border: 2px solid red;
    margin-top: 20px;

}
.sidemenu{
    background-color: antiquewhite;
    height: 100%;   
    font-size:20px;
    color: darkblue;
}

.header{
   
    background-color: var(--primarycolor);
    min-height: 110px;
    color: white;
    padding: 10px;
}
.navbar{
    background-color: blueviolet;
    height: 50px;
    color: white;
    padding:10px;
}
.mainworkplace{
    background-color: bisque;
    min-height: 650px;
}
.footer{
    background-color: var(--primarycolor);
    min-height: 150px;
    font-size: 20px;
    color:white;
    text-align: center;
}